<script>
    function validate_form_day_type(form_day_type) {
            var day_type_name = jQuery("#"+form_day_type).find("#day_type_name").attr("value");
            var day_type_duration = jQuery("#"+form_day_type).find("#day_type_duration").attr("value");
            var day_type_color = jQuery("#"+form_day_type).find(".iColorPicker").attr("value");
           

          if (day_type_duration==""){
             alert("Duration is invalid");
             return false;
           }
          
           var re = /[%\'\"]/;
           var result = re.test(day_type_name);
           if (result || day_type_name==""){
             alert("Name is invalid");
             return false;
           }
           re = /^(#[0-9A-F]{6}|#[0-9A-F]{3}|black|white|blue|red|yellow|green|purple|gray|silver|navy|fuchsia|lime|maroon|olive|teal)$/i;
           result = re.test(day_type_color);
           if (!result){
             alert("Color is invalid");
             return false;
           }
           return true;
      }

</script>

<div class="splitcontentleft daytypes">
  <div class="headers">
    <span class="name"><%= l(:mc_name2) %></span>
    <span class="default"><%= l(:mc_default_value) %></span>
    <span class="color"><%= l(:mc_color) %></span>
    <span class="duration"><%= l(:mc_duration) %></span>
    <span class="buttons"><%= l(:mc_buttons) %></span>
  </div>
  <div class="list">
    <%= render :partial => 'pattern_weeklies/daytype_list', :locals => {:daytypes => @calendar.pattern_weeklies.sort_by(&:name)} %>
  </div>
</div>

<div class="splitcontentright">
  <fieldset>
    <legend class="m_label"><%= l(:mc_new_day_type)%></legend>

    <%= form_for( :day_type, :url => {:controller => 'pattern_weeklies', :action => 'create'}, :html => { :method => :post, :onsubmit => "return validate_form_day_type('new_day_type');", :id => "new_day_type" }) do |f| %>

      <%= render :partial => 'pattern_weeklies/form_fields', :locals => { :f => f, :id_day => "day_color_new"} %>

      <div class="submit_button_m"><%= submit_tag l(:button_add) %></div>
    <% end %>
  </fieldset>
</div>

